
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 89rem;
    height: 25rem; /* Ensures footer div matches image height */
    margin: -0.5rem -3.5rem;
    margin-top: -20rem;
}

.footer img {
    height: 100%; /* Adjusted to fill the footer's height */
    width: 100%;
    object-fit: cover;
    margin-top: 15rem;
}

.f-content {
    position: absolute;
    top: 5rem; 
    left: 5rem; 
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    z-index: 1; /* Ensures text is above the image */
}
.f-content h2 span{
    margin-left: -9rem;
}
.footer .f-content h2{
    margin: 35rem 0 0 50rem;
}

.footer .footer_links{
    position: absolute;
   display:flex;
   margin: 20rem 0 0 40rem;

}

.footer .footer_links .part{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.footer .footer_links .part h3 {
    margin-left: 1rem;
    margin-bottom: -.5rem;
}

.footer p{
    position: absolute;
    margin-top: 37rem;
}

.footer .footer_links .part li a {
    text-decoration: none;
    color: black;
}

.footer .footer_links .part li:hover{
 text-decoration: underline;
 cursor: pointer;
}

@media  (max-width:900px) {
.footer{
 width: 70rem;
} 
.footer img{
 width: 60rem;
 margin-left: 2px;
}
.footer h2{
    margin-left: 10rem;
    /* font-size: 1rem; */
}
.footer .footer_links{
    margin-left: 20rem;
}
}

@media (max-width:800px) {
.footer{
     width: 60rem;
}
.footer img{
    width: 60rem;
}
.footer .f-content h2{
    margin-left: 10rem;
    font-size: 1rem;
}

.footer .footer_links {
    margin-left: -17rem;
}

.footer p{
    margin-left: -25rem;
}
}    