.floatingDiv{
    background: white;
    box-shadow: 0px 20px 24px 3px rgba(251,164,40,.42);
    border-radius: 17px;
    height: 4rem;
    width: 10rem;
    padding: .3rem 0 0 1rem;   
    display: flex;
}

.floatingDiv img{
    height: 2rem;
    width: 2rem;
    margin: 1rem 0 0 0 ;
}

.floatingDiv .text{
    margin: .5rem 0 0 1rem;
}

.floatingDiv span{
    margin: 1.5rem 0 0 2rem;
}
.floatingDiv:hover{
  background-color: whitesmoke;
}